body {
    margin: 0; 
    text-align: center;
    font-family: Merriweather, serif;
}
/* color palate #bf6b32   #df9812 */

hr { 
    border-style: dotted none none;
    border-top-color: #8aa9a2;
    border-width: 7px;
    width: 6%; 
}

.top-container {
    background-color: #acbfbb;
    padding-top: 100px; 
}
.middle-container {
    background-color: #f8e6d8; 
}

.bottom-container {
    background-color: #acbfbb;
    padding: 30px; 
    line-height: 2;
}

.contact-me { 
    width: 50%;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 0px; 
    padding-bottom: 50px;
    line-height: 2;
}

h1 {
   margin: 50px auto 0 auto; 
   font-family: 'Sacramento', cursive;
   font-size: 5.25rem;
   color: #bf6b32; 
}

h2 { 
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #bf6b32; 
    font-weight: normal;
}

.subheader {
    margin: 0;
}

h3 { 
    font-family: 'Montserrat', sans-serif;
    color: #8aa9a2;  
}

/* Images*/

.top-cloud {
    position: absolute;
    right: 300px;  
}
.bottom-cloud {
    position: absolute; 
    left: 300px;  
}

.biology {
    margin: 60px auto 100px auto; 
    width: 25%; 
}

.btn {
    background: #bf6b32;
    background-image: -webkit-linear-gradient(top, #bf6b32, #e6af8a);
    background-image: -moz-linear-gradient(top, #bf6b32, #e6af8a);
    background-image: -ms-linear-gradient(top, #bf6b32, #e6af8a);
    background-image: -o-linear-gradient(top, #bf6b32, #e6af8a);
    background-image: linear-gradient(to bottom, #bf6b32, #e6af8a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Merriweather, serif;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #662900;
    background-image: -webkit-linear-gradient(top, #662900, #a35c31);
    background-image: -moz-linear-gradient(top, #662900, #a35c31);
    background-image: -ms-linear-gradient(top, #662900, #a35c31);
    background-image: -o-linear-gradient(top, #662900, #a35c31);
    background-image: linear-gradient(to bottom, #662900, #a35c31);
    text-decoration: none;
  }

.email { 
    width: 15%;
    margin-top: 40px;
}
.profile-pic { 
    margin-top: 100px;

}

/* Links Divs Text */ 

.footer-link {
    color: #bf6b32;
    font-weight: bold;

}

.copyright-signature {
    color: white; 
}

.skill-row {
    width: 50%; 
    line-height: 2;
    margin: 100px auto 100px auto;
    text-align: left; 
}

.baking {
    float: left; 
    margin-right: 30px;  
    width: 25%; /* 25% of the parent, in this case skill-row*/
}

.teaching {
    width: 25%;
    float: right;
    margin-left: 30px;   
}

.profile { 
    width: 50%;
    line-height: 2;
    margin: 0px auto 100px auto;  
    text-align: center;
    
}

a { 
    font-family: 'Montserrat', sans-serif; 
    margin: 10px 20px; 
    text-decoration: none; /* gets rid of underline */
}

a:hover { 
    color: #662900; 

}